.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0B153C;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader-name {
    color: #17C2EC;
    font-size: 2rem;
    font-weight: bold;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}